.join-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.join-game-item {
  margin-bottom: 3vh;
  width: 70%;
  display: flex;
  justify-content: center;
}

.join-form {
  max-width: 50vw;
}
