/* Below is copied and modified from: https://codepen.io/status201/pen/VvwmoY */

.lego-speech-bubble-container-right {
  display: flex;
  margin-top: 2vh;
  margin-left: 2vw;
}

.lego-speech-bubble-mr-lego-right {
  height: 12vh;
  width: 12vh;
}

.speech-bubble-right {
  background: #ccc;
  color: #1a1d22;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 20px;
  width: 30vw;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.speech-bubble-right:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ccc;
}
