/* Below is copied and modified from: https://codepen.io/status201/pen/VvwmoY */

.lego-speech-bubble-container-maddie {
  display: flex;
  margin-top: 2vh;
  margin-right: 2vw;
}

.lego-speech-bubble-mr-lego-maddie {
  height: 12vh;
  width: 12vh;
}

.speech-bubble-maddie {
  background: #ccc;
  color: #1a1d22;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 20px;
  min-width: 18vw;
  max-width: 75vw;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.speech-bubble-maddie:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc;
}
