/* Below is copied and modified from: https://codepen.io/status201/pen/VvwmoY */

.lego-speech-bubble-container {
  display: flex;
  flex-direction: row;
}

.lego-speech-bubble-mr-lego {
  height: 10vw;
  width: 10vw;
}

.speech-bubble {
  /* background: #ccc; */
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin-left: 1vw;
  width: 50vw;
  border: 1px solid white;
  border-radius: 10px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc;
}
