.quipping-container {
  display: flex;
  flex-direction: column;
}

.quipping-question-container {
  margin-bottom: 10vw;
}

.quipping-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quipping-answer-button {
  width: 75vw;
}

/* .quipping-answer-input {
  min-height: 10vh;
} */
