.prompts-body {
  background-color: #030d21;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  width: 92vw;
  height: 100%;
  min-height: 100%;
}

.row-body {
  display: flex;
  flex-direction: row;
}

.prompt-row {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid grey;
  width: 50vw;
  display: flex;
  position: relative;
}

.prompt-cell {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 96%;
  text-indent: 4vw;
}

.remove-prompt {
  font-weight: bold;
  color: #606060;
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  height: 100%;
  border-left: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 0;
}

.remove-prompt:hover {
  background-color: #ccc;
}

.prompt-pack-heading {
  display: flex;
  text-align: center;
  justify-content: center;
}

.remove-prompt-pack {
  font-weight: bold;
  font-size: small;
  height: 70%;
  margin-left: 10%;
}

.remove-prompt-pack:hover {
  background-color: rgb(186, 3, 3);
}
