.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #030d21;
  padding-top: 2vh;
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #030d21;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.App-body {
  background-color: #030d21;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.host-body {
  background-color: #030d21;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.player-body {
  background-color: #030d21;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-page {
  background-color: #030d21;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.team {
  width: 15vh;
  padding-bottom: 10%;
}

.logo-no-zoomer {
  max-width: 40vh;
}

.mr-lego {
  width: 150%;
  height: auto;
}

.mr-lego-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-mr-lego {
  width: 15%;
  height: auto;
}

.start-mr-lego-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startPrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joining-body {
  background-color: #030d21;
  min-height: 82vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40vh;
}

.playersHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playersBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.playerSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 5vw;
  overflow: hidden;
}

.quipping-body {
  background-color: #030d21;
  min-height: 82vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quipping-body-inner {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 2%;
}

.timer-text {
  font-size: calc(30px + 2vmin);
}

.top5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.voteCard {
  color: black;
}

.voting-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.voting-footer {
  display: flex;
  flex-direction: row;
}

.playerLegoHeadImglrg {
  width: 150%;
  height: auto;
}

.playerLegoHeadImgsml {
  width: 40px;
  height: auto;
}

.playerLegoHeadImgmed {
  width: 5vw;
  height: auto;
}

.header-player-head {
  height: 8vh;
}

.App-header-playerhead-container {
  padding-right: 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
