.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000055;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #004400;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.App-body {
  background-color: #030d21;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.host-body {
  background-color: #030d21;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.player-body {
  background-color: #030d21;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-page {
  background-color: #030d21;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.team {
  width: 20vh;
}

.logo-no-zoomer {
  max-width: 20vh;
}

.logo-no-zoomer-container {
  padding-left: 5%;
}

.mr-lego {
  width: 150%;
  height: auto;
}

.mr-lego-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joining-body {
  background-color: #030d21;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-right: 2%;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quipping-body {
  background-color: #030d21;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer-text {
  font-size: calc(50px + 5vmin);
}

.top5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.voteCard {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
