.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #030d21;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  background-color: #030d21;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #030d21;
  padding-top: 2vh;
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}

.App-footer {
  background-color: #030d21;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  min-height: 7vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.App-body {
  background-color: #030d21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.host-body {
  background-color: #030d21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.player-body {
  background-color: #030d21;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-page {
  display: flex;
  flex-direction: column;
  background-color: #030d21;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100vw;
}

.startPrompt {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.startLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.startRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.team {
  width: 15vh;
  padding-bottom: 1vh;
}

.logo-no-zoomer {
  max-width: 40vh;
}

.mr-lego {
  width: 150%;
  height: auto;
}

.mr-lego-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  z-index: 10;
}

.start-mr-lego {
  width: 10%;
  min-width: 100px;
  height: auto;
}

.start-mr-lego-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joining-body {
  background-color: #030d21;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90vw;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 65vh;
  height: 100%;
}

.playersHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playersBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.playerSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7vw;
  overflow: hidden;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.playerText {
  margin-top: 0.5vh;
  height: 5vh;
  width: 100%;
  text-align: center;
  font-size: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.quipping-body {
  background-color: #030d21;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quipping-body-inner {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  padding-right: 1vw;
}

.timer-text {
  font-size: calc(30px + 2vmin);
}

.top5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.voteCard {
  color: black;
}

.voting-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.voting-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 3vh;
  overflow: visible;
  width: 100%;
}

.voting-body {
  margin-top: -10vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  min-height: 72vh;
}

.voting-triangle-left {
  content: '';
  position: absolute;
  margin-top: 47%;
  margin-left: 89%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff;
}

.voting-triangle-right {
  content: '';
  position: absolute;
  margin-top: 47%;
  margin-left: -32px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.voting-timer {
  position: absolute;
  top: 45%;
  z-index: 500;
}

.quip-card-body {
  font-size: 70%;
  padding: 2%;
  min-height: 4vh;
}

.quip-card-header {
  font-size: 70%;
  padding: 0%;
  width: 100%;
  min-height: 4vh;
  text-align: center;
}

.playerLegoHeadImglrg {
  width: 10vw;
  height: auto;
}

.playerLegoHeadImgsml {
  width: 35px;
  height: auto;
}

.playerLegoHeadImgxsml {
  width: 25px;
  height: auto;
}

.playerLegoHeadImgmed {
  width: 5vw;
  height: auto;
}

.header-player-head {
  height: 8vh;
}

.App-header-playerhead-container {
  padding-right: 2vh;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.scoreboard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.scoreboard-top-five {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard-everyone-else-row {
  color: white;
  display: flex;
}

.scoreboard-everyone-else {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0.25%;
  margin-right: 0.25%;
  font-size: 60%;
}

.scoreboard-player-top-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 35vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.scoreboard-player-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 35vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.name {
  margin-top: 5%;
  font-size: 60%;
}

.score {
  margin-top: -0.5vh;
  font-size: 100%;
}

.table td,
.table th {
  border-top: 0px solid;
}

.table thead th {
  border-bottom: 0px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
